/* 公用样式 */
/*当前模块的页面布局*/
/*当前页面的header*/
/*
*如果是公共的头尾部，这里留空即可
*如果当前页面的头部是自定义的
*则在这里书写样式，覆盖common.css中得头尾部
*或者，不引入common.css
*/
/*各个区块样式*/
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/* 专场、分类 */
.m-brand-wrap {
  margin-top: 40px;
  padding: 20px;
  background: #fff;
}
.m-brand-wrap .m-brand-info {
  height: 50px;
  padding-bottom: 20px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}
.m-brand-wrap .brand-name {
  float: left;
  width: 800px;
}
.m-brand-wrap .brand-name h1 {
  float: left;
  margin-right: 15px;
  font-weight: normal;
  font-size: 16px;
  color: #333333;
}
.m-brand-wrap .brand-logo {
  float: left;
  margin-right: 15px;
}
.m-brand-wrap .brand-logo img {
  display: block;
  width: 115px;
  height: 34px;
  margin-top: 8px;
}
.m-brand-wrap .m-additional {
  float: left;
  width: 165px;
  height: 18px;
  margin-top: 16px;
  line-height: 18px;
  font-size: 12px;
  color: #ff6060;
  background: #ffebeb;
}
.m-brand-wrap .m-additional span {
  margin-right: 8px;
  padding: 0 8px;
  background: #ff6060;
  color: #ffffff;
}
.m-brand-wrap .brand-time {
  float: right;
  padding-top: 5px;
}
.m-brand-wrap .brand-time .sale-time {
  float: left;
  margin-right: 15px;
  font-size: 14px;
  color: #333;
}
.m-brand-wrap .brand-time .sale-time i.icon-time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url(../img/sprite/list.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.m-brand-wrap .brand-time .collection {
  float: left;
  height: 18px;
  margin-top: 15px;
  padding-left: 15px;
  line-height: 18px;
  border-left: 1px solid #ddd;
  font-size: 12px;
  color: #ff6060;
}
.m-brand-wrap .brand-time .collection i.icon-collection {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url(../img/sprite/list.png);
  background-position: -26px -26px;
  width: 16px;
  height: 14px;
  vertical-align: -3px;
}
.m-brand-wrap .m-brand-full {
  padding: 30px 0 20px 0;
}
.m-brand-wrap .m-brand-full .brand-tit {
  font-size: 12px;
  color: #999999;
}
.m-brand-wrap .m-brand-full .brand-full {
  margin: -20px 0 0 50px;
}
.m-brand-wrap .m-brand-full .brand-full a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 22px;
  padding: 0 12px;
  color: #666;
}
/* 列表排序 */
.m-list-sort {
  margin-top: 20px;
  background: #fff;
  padding: 10px 20px;
}
.sort-wrap {
  float: left;
}
.sort-wrap a.sort-item {
  display: block;
  float: left;
  height: 32px;
  margin-right: 10px;
  padding: 0 10px;
  background: #eee;
  line-height: 32px;
  border-radius: 5px;
}
.sort-wrap a.sort-item span {
  font-size: 12px;
  color: #666;
}
.sort-wrap a.sort-item i {
  margin: 9px 0 0 4px;
  display: inline-block;
}
.sort-wrap a .icon-down {
  background-image: url(../img/sprite/list.png);
  background-position: -69px -19px;
  width: 7px;
  height: 9px;
}
.sort-wrap a .icon-up-down {
  background-image: url(../img/sprite/list.png);
  background-position: -52px -20px;
  width: 7px;
  height: 10px;
}
.sort-wrap a.active,
.sort-wrap a:hover {
  background: #26b080;
  text-decoration: none;
}
.sort-wrap a.active span,
.sort-wrap a:hover span {
  color: #fff;
}
.sort-wrap a.active .icon-down,
.sort-wrap a:hover .icon-down {
  background-image: url(../img/sprite/list.png);
  background-position: -69px 0px;
  width: 7px;
  height: 9px;
}
.sort-wrap a.active .icon-up-down,
.sort-wrap a:hover .icon-up-down {
  background-image: url(../img/sprite/list.png);
  background-position: -52px 0px;
  width: 7px;
  height: 10px;
}
.sort-wrap a.sort-goods i.icon-radio {
  margin: 9px 5px 0 0;
  background-image: url(../img/sprite/list.png);
  background-position: 0px -26px;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: left;
}
.sort-wrap a.sort-goods span {
  float: left;
}
.sort-wrap a.sort-goods.active,
.sort-wrap a.sort-goods:hover {
  background: #eee;
}
.sort-wrap a.sort-goods.active span,
.sort-wrap a.sort-goods:hover span {
  color: #666666;
}
.sort-wrap a.sort-goods.active .icon-radio {
  background-image: url(../img/sprite/list.png);
  background-position: -26px 0px;
  width: 16px;
  height: 16px;
}
.page-wrap {
  float: right;
}
.page-wrap li {
  display: inline;
  line-height: 32px;
  font-size: 12px;
  color: #666666;
}
.page-wrap .i-line {
  width: 1px;
  height: 12px;
  background: #ddd;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 20px 0 24px;
  vertical-align: -2px;
}
.page-wrap .c-page-item {
  color: #26b080;
}
.page-wrap .page-controller {
  padding-left: 10px;
}
.page-wrap a.page-prev,
.page-wrap a.page-next {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  background: #bbb;
  vertical-align: middle;
  font-style: normal;
  font-size: 16px;
  font-family: '\5B8B\4F53', arial, sans-serif;
  color: #fff;
  border-radius: 2px;
}
.page-wrap a.page-prev:hover,
.page-wrap a.page-next:hover {
  text-decoration: none;
}
.page-wrap a.disabled {
  background: #eeeeee;
  color: #ddd;
  cursor: default;
}
/* 商品列表 */
.m-list-wrap {
  margin-top: 20px;
  position: relative;
}
.m-list-wrap ul {
  margin-right: -20px;
}
.m-list-wrap li {
  width: 285px;
  height: 380px;
  float: left;
  margin: 0 20px 20px 0;
  background: #fff;
  position: relative;
}
.m-list-wrap .product-wrap {
  width: 283px;
  height: 380px;
  border: 1px solid #ededed;
}
.m-list-wrap .product-wrap .thumbnail {
  display: block;
}
.m-list-wrap .product-wrap .thumbnail img {
  display: block;
  width: 283px;
  height: 283px;
}
.m-list-wrap .product-wrap .product-info {
  padding: 8px 15px 0 15px;
}
.m-list-wrap .product-wrap .product-info .title {
  line-height: 22px;
}
.m-list-wrap .product-wrap .product-info .price {
  padding-top: 8px;
  font-size: 16px;
  font-family: "airal";
  color: #e73069;
}
.m-list-wrap .product-wrap .product-info .discount {
  font-size: 12px;
  padding: 0 2px;
}
.m-list-wrap .product-wrap .product-info .original {
  font-size: 12px;
  color: #999999;
  text-decoration: line-through;
}
.m-list-wrap .product-wrap:hover {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 2px solid #93d7bf;
}
/* 标题栏目 */
.m-hd-attention {
  height: 18px;
  margin: 20px 0 14px 0;
  line-height: 18px;
  border-left: 2px solid #26b080;
}
.m-hd-attention strong {
  padding-left: 12px;
  font-size: 20px;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
}
/* 列表组 最后疯抢*/
.m-list-group ul {
  margin-right: -20px;
}
.m-list-group li {
  width: 285px;
  height: 380px;
  float: left;
  margin: 0 20px 20px 0;
  background: #fff;
}
.m-list-group .list-item {
  /*明日预告 全场满300减50背影变化 */
}
.m-list-group .list-item .thumbnail {
  display: block;
  width: 285px;
  height: 285px;
  position: relative;
}
.m-list-group .list-item .thumbnail img {
  display: block;
}
.m-list-group .list-item .thumbnail .txt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 26px;
  background: #7f7f7f;
}
.m-list-group .list-item .thumbnail .txt span {
  line-height: 26px;
  padding-left: 15px;
  color: #fff;
}
.m-list-group .list-item .m-small-tit {
  height: 32px;
  background: #c9f3e4;
  text-align: center;
  line-height: 32px;
}
.m-list-group .list-item .m-small-tit p {
  font-size: 14px;
  color: #333;
}
.m-list-group .list-item .m-small-tit i.icon-time {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-image: url(../img/sprite/list.png);
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.m-list-group .list-item .m-small-notice {
  background: #ffdede;
}
.m-list-group .list-item .m-small-notice p {
  font-size: 14px;
  color: #ff6060;
}
.m-list-group .list-item .m-sale-brand {
  padding: 15px 10px 10px 10px;
}
.m-list-group .list-item .m-sale-brand .m-sale-logo {
  float: left;
  width: 115px;
  height: 34px;
}
.m-list-group .list-item .m-sale-brand .m-sale-logo img {
  display: block;
}
.m-list-group .list-item .m-sale-brand p {
  float: right;
  line-height: 34px;
  font-size: 12px;
  color: #999;
}
.m-list-group .list-item .m-sale-brand p span.u-price {
  padding: 0 5px;
  font-size: 20px;
  color: #e73069;
}
/*当前页面的footer*/
/*
*如果是公共的头尾部，这里留空即可
*如果当前页面的尾部是自定义的
*则在这里书写样式，覆盖common.css中得头尾部
*或者，不引入common.css
*/
